<div th:fragment="login-form" class="container">
    <div class="card mt-5 mx-auto" style="width: 25rem;">
        <div class="card-body">
            <h5 class="cart-title mb-5 text-center">Identificarse</h5>
    
            <form>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input
                        type="text"
                        class="form-control"
                        id="username"
                        aria-describedby="usernameHelp"
                        name="username"
                        [(ngModel)]="username">
                <div id="usernameHelp" class="form-text">Enter your username.</div>
                </div>
                <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        [(ngModel)]="password">
                </div>
                
                <button type="button" class="btn btn-primary" (click)="onSubmit()">Login</button>
            </form>
            <div *ngIf="passwordUpdatedFlag" class="alert alert-success mt-3 text-center" role="alert">
                La contrace&ntilde;a ha sido actualizada.
            </div>
        </div>
    </div>
</div>
