<!-- NAVBAR (sin contenedor externo para evitar espacio extra) -->
<app-navbar></app-navbar>

<!-- LAYOUT PRINCIPAL -->
<div class="container-fluid p-0">
  <div class="row g-0">

    <!-- SIDEBAR -->
    <div class="col-12 col-md-4 col-lg-2 sidebar-col sidebar-container d-flex justify-content-center">
      <app-sidebar></app-sidebar>
    </div>

    <!-- CONTENT AREA -->
    <div class="col-12 col-md-8 col-lg-10 p-3 content-container">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

